spring-debug-zhuyiyi/src/main/resources/com/github/zhuyiyi1990/self_tag/zhuyiyi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://zhuyiyi1990.github.com/schema/zhuyiyi"
		elementFormDefault="qualified">

	<element name="user">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
			<attribute name="username" type="string"/>
			<attribute name="email" type="string"/>
		</complexType>
	</element>

</schema>